input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body {
  background-color: #1e88e5;
  font-family: 'Kumbh Sans', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Timer {
  position: absolute;
  top: 5%;
}

.Cronometro {
  background-color: #fff;
  width: 500px;
  height: auto;
  border-radius: 5px;
  padding: 40px 0 10px 0;
  box-sizing: border-box;
}

.Cronometro-header {
  font-size: 40px;
  margin: 0 0 20px 0;
  color: #2b2b2b;
}

.Cronometro-display {
  font-size: 50px;
  text-align: center;
  color: #2b2b2b;
}

.Cronometro-display span{
  width: 75px;
  display: inline-block;
  text-align: left;
}

button {
  width: 67px;
  height: 54px;
  font-size: 38px;
  color: #fff;
  background-color: #1e88e5;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
  padding: 7px 0;
}

h5 {
  color: #bbbbbb;
  font-weight: normal;
}

.parcialContainer ul {
  margin: 10px 0;
}

.parcialContainer ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0 30px 0 0;
  text-align: center;
  font-size: 14px;
}

.parcialContador {
  width: 35px;
}

.parcialAnterior {
  color:grey;
  width: 110px;
}

.parcialAtual {
  width: 110px;
}

.temporizadorInput {
  width: 62px;
  height: 54px;
  font-size: 50px;
  text-align: center;
  border: none;
}
            
.temporizadorInput:focus {
  outline: none;
}

.temporizadorInpuntWrapper {
  margin: 0 0 20px 0;
}

.hora-principal {
  font-size: 62px;
}

.data-atual {
  color: #2b2b2b;
}

.timezones {
  width: 300px;
  margin: 0 auto;
  text-align: right;
}

.timezones ul {
  padding: 0;
}

.timezones ul li {
  list-style: none;
  margin: 0 0 15px 0;
}

.timezones ul li span{
  font-weight: 600;
  float: left;
}

.react-tabs__tab-list {
  margin: 0 !important;
}